@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F2B749, #F28749)
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #82492897;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #D9583B;
    text-align: center;
    text-shadow: 1px 1px 2px #78332399;
}
h2{
    color: #024959;
}

p{
    text-align: justify;
}